/* COMIC NAVIGATION 
Author: Philip M. Hofer (Frumph)
Style: Sci Fi
*/

.comic_navi_wrapper {
	display: table;
	border-collapse: collapse;
	text-align: center;
	margin: 0 auto;
}

.navi-comictitle {
	padding-top: 26px;
	max-width: 100px;
}

.navi {
	width: 60px;
	margin: 0 5px;
	padding-top: 60px;
	font-size: 9px;
	color: #555;
	display: inline-block;
}

.navi:hover, #navi-share:hover {
	background-position: -60px 0;
}

.navi-firstinchap {
	background: url('first.png') no-repeat;
}

.navi-first {
	background: url('first.png') no-repeat;
}

.navi-prevchap, .navi-story_prev {
	background: url('prevchap.png') no-repeat;
}

.navi-story_prev_in {
	background: url('prevchap.png') no-repeat;
}

.navi-prev, .navi-previous {
	margin-right: 10px;
	background: url('prev.png') no-repeat;
}

.navi-prev-in, .navi-previous-in {
	background: url('prev-in.png') no-repeat;
}

.navi-buyprint {
	background: url('buyprint.png') no-repeat;
}

.navi-archive, .navi-archives {
	background: url('archive.png') no-repeat;
}

.navi-random {
	background: url('random.png') no-repeat;
}

#navi-share {
	background: url('share.png') no-repeat;
}

.navi-subscribe {
	background: url('subscribe.png') no-repeat;
}

.navi-comments {
	padding: 0;
	background: url('comments.png') no-repeat;
}

a.navi-comments span {
	display: inline-block;
	width: 60px;
	height: 60px;
	font-size: 16px;
	font-weight: bold;
	line-height: 49px;
	color: #fff;
	text-indent: 0;
}

a.navi-comments span:hover {
	color: #860b04;
}

.navi-next {
	margin-left: 10px;
	background: url('next.png') no-repeat;
}

.navi-next-in {
	background: url('next-in.png') no-repeat;
}

.navi-nextchap, .navi-story_next {
	background: url('nextchap.png') no-repeat;
}

.navi-story_next_in {
	background: url('nextchap.png') no-repeat;
}

.navi-last {
	background: url('last.png') no-repeat;
}

.navi-lastinchap {
	background: url('last.png') no-repeat;
}

.navi-void, .navi-void:hover {
	color: #999;
	background-position: -120px 0;
}

#navi-share-box {
	height: 96px;
	width: 120px;
	padding: 1px;
	background: url('sharebox.png') 0 0 no-repeat;
	display: none;
	position: absolute;
	margin: -180px auto;
	zoom: 1;
}

#navi-share-box a {
	width: 24px;
	height: 24px;
	display: block;
	float: left;
	text-indent: -9999px;
	overflow: hidden;
}


