#cpadmin-headericon {
	height: 36px;
	width: 36px;
	margin: 14px 6px 0 0;
	float: left;
}

#cpadmin {
	font-family: 'Verdana', sans-serif;
	font-size: 11px;
	padding: 5px 0 0 0;
	line-height: 5px;
	margin: 0 0 1px 0;
	overflow: hidden
}

#cpadmin div {
	border-top-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-webkit-border-top-left-radius: 3px;
	-khtml-border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	-webkit-border-top-right-radius: 3px;
	-khtml-border-top-right-radius: 3px;
}

#cpadmin div.off {
	color: #999;
	height: 23px;
	margin: 0 0 0 5px;
	line-height: 23px;
	padding: 0 7px;
	float: left;
	background: #e9e9e9;
	border-top: 1px solid #dfdfdf;
	border-left: solid 1px #dfdfdf;
	border-right: solid 1px #dfdfdf;
	position: relative;
	cursor: pointer;
	z-index: 20;
}
#cpadmin div.on {
	color: #333;
	padding: 0 7px;
	margin: 0 0 0 5px;
	float: left;
	background: #fff;
	border-top: 1px solid #dfdfdf;
	border-left: 1px solid #dfdfdf;
	border-right: 1px solid #dfdfdf;
	border-bottom: 0px;
	cursor: pointer;
	height: 24px;
	line-height: 23px;
	position: relative;
	z-index: 100;
}

div.hide {
	display: none;
	width: 0;
	overflow: hidden;
}

div.show {
	clear: left;
	display: run-in;
	position: relative;
	z-index: 50;
}
div.show img {
	float: left;
	margin: 0 10px 10px 0;
}
.clear {
	clear: both;
}

.cpadmin-footer {
	margin: 0;
	color: #777;
	text-align: center;
	background: #fff;
	font-family: 'Arial', sans-serif;
}

.cpadmin-donate {
	float: right;
}
.cpadmin-footer a {
	text-decoration: none;
}

.comicpress-options {
	padding: 10px 10px 1px 10px;
	background: #fff;
	border-width: 1px 1px 1px 1px;
	border-style: solid;
	border-color: #dfdfdf;
	margin-top: -2px;
	font: 11px verdana, arial, sans-serif;
	line-height: 18px;
	border-top-left-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-webkit-border-top-left-radius: 6px;
	-khtml-border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	-moz-border-radius-topright: 6px;
	-webkit-border-top-right-radius: 6px;
	-khtml-border-top-right-radius: 6px;
}

.comicpress-options-save {
	margin-bottom: 15px;
	border-width: 0 1px 1px 1px;
	border-style: solid;
	border-color: #dfdfdf;
	border-bottom-left-radius: 6px;
	-moz-border-radius-bottomleft: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-khtml-border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	-moz-border-radius-bottomright: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-khtml-border-bottom-right-radius: 6px;
}

.comicpress-options  table.widefat thead tr th {
	font-size: 14px;
}

.comicpress-options  table.widefat label {
	display: block;
	text-align: right;
}

.comicpress-options  table.widefat label.inline-label {
	display: inline;
}

.comicpress-options  table.widefat select {
	width: 100%;
}

.comicpress-options table.widefat {
	margin-bottom: 10px;
	border-bottom: none;
}

.comicpress-options table.nolowermargin {
	margin-bottom: 0;
}

.comicpress-options table.widefat th {
	width: 200px;
}

.comicpress-options table.widefat th input{
margin: 1px;
padding: 3px;
width: 100%;
}

.comicpress-options table.widefat th .radio input{
margin: 0;
padding: 0;
width: auto;
}

.comicpress-options table.widefat th label {
	color: #21759b;
	text-align: left;
}

.comicpress-options table.widefat th label:hover {
	color: #d54e21;
}

.comicpress-options table.widefat th, .comicpress-options table.widefat td {
	vertical-align: middle;
}
#comicpress-version-title {
	font-family: 'Georgia', serif;
	font-size: 48px;
	letter-spacing: -2px;
	margin: 0;
	padding: 30px 0 5px 0;
	font-variant: small-caps;
}

	#comicpress-version-title  a {
		color: #333;
	}

#comicpress-version-number {
	font-family: monospace;
	font-size: 16px;
	letter-spacing: 8px;
}

.comicpress-options .radio {
	padding-top: 5px;
	text-align: right;
}

div.show .cpadmin-footer img{
	float: none;
}

.comicpress-major-publishing-actions {
	padding: 6px;
	clear: both;
	border-top: none;
	background: #eaf2fa;
}

.comicpress-major-publishing-actions input {
	float: right;
	min-width: 80px;
	text-align: center;
}

/** Comic Filters **/

#comicpress-comic-filename-filters-holder div {
	border: solid #ddd 1px;
	padding: 3px;
	overflow: hidden;
}

#comicpress-comic-filename-filters-holder label {
	float: left;
	display: inline;
}

#comicpress-comic-filename-filters-holder input {
	margin: 0 10px;
}
