/* COMIC NAVIGATION 
Author: Tyler Martin
Style: Default
*/

.comic_navi_wrapper {
	display: table;
	border-collapse: collapse;
	text-align: center;
	margin: 0 auto;
	font-weight: bold;
	font-size: 12px;
}

.comic_navi_left {
	float: left;
}

.comic_navi_right {
	float: right;
}

.comic_navi {
	padding: 2px;
}

.navi-comictitle {
	padding: 0px 6px;
	text-align: center;
	display: inline-block;
}

.navi {
	padding: 0 6px;
	display: inline-block;
}

.navi a {
	display: block;
	text-decoration: none;
}

.navi-first {
	float: left;
}

.navi-firstinchap {}

.navi-prevchap, .navi-story_prev {
	float: left;
}

.navi-story_prev_in {
	float: left;
}

.navi-prev, .navi-previous {
}

.navi-comments, .navi-archive, .navi-random, .navi-buyprint {
	display: inline-block;
}

.navi-comments-count {
	padding-right: 4px;
}
	
.navi-next {
	float: left;
}

.navi-nextchap, .navi-story_next {
}

.navi-story_next_in {
}

.navi-lastinchap {}

.navi-last {
	float: right;
}

.navi-void, .navi-void:hover {
	font-weight: normal;
}

#navi-share-box {
	height: 96px;
	width: 120px;
	padding: 1px;
	background: url('sharebox.png') 0 0 no-repeat;
	display: none;
	position: absolute;
	margin: -180px auto;
	zoom: 1;
}

#navi-share-box a {
	width: 24px;
	height: 24px;
	display: block;
	float: left;
	text-indent: -9999px;
	overflow: hidden;
}
